<div class="ml-container">
  <h2>MathML (medium)</h2>
  <p>Note that the sanitzier prevents this page to render if not directly loaded. In case, please reload.</p>
  <math id="me2">
    <mrow>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>2</mn>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mo>=</mo>
    </mrow>
    <mrow>
      <mfrac>
        <msup>
          <mi>π</mi>
          <mn>2</mn>
        </msup>
        <mn>6</mn>
      </mfrac>
    </mrow>
  </math>
  <math id="me3">
    <mrow>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>4</mn>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mo>=</mo>
    </mrow>
    <mrow>
      <mfrac>
        <msup>
          <mi>π</mi>
          <mn>4</mn>
        </msup>
        <mn>90</mn>
      </mfrac>
    </mrow>
  </math>
  <math id="me4">
    <mrow>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>6</mn>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mo>=</mo>
    </mrow>
    <mrow>
      <mfrac>
        <msup>
          <mi>π</mi>
          <mn>6</mn>
        </msup>
        <mn>945</mn>
      </mfrac>
    </mrow>
  </math>
  <math id="me5">
    <mrow>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>2</mn>
        <mi>n</mi>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mo>=</mo>
    </mrow>
    <mrow>
      <mfrac>
        <mrow>
          <mo form="prefix" stretchy="false" lspace="0em" rspace="0em">(</mo>
          <mn>2</mn>
          <mi>π</mi>
          <msup>
            <mo form="postfix" stretchy="false">)</mo>
            <mrow>
              <mn>2</mn>
              <mi>n</mi>
            </mrow>
          </msup>
        </mrow>
        <mrow>
          <mn>2</mn>
          <mo form="prefix" stretchy="false">(</mo>
          <mn>2</mn>
          <mi>n</mi>
          <mo form="postfix" stretchy="false">)</mo>
          <mo form="postfix" stretchy="false" lspace="0em" rspace="0em">!</mo>
        </mrow>
      </mfrac>
      <mrow>
        <mo fence="true" form="prefix">|</mo>
        <msub>
          <mi>B</mi>
          <mrow>
            <mn>2</mn>
            <mi>n</mi>
          </mrow>
        </msub>
        <mo fence="true" form="postfix">|</mo>
      </mrow>
    </mrow>
  </math>
  <math id="me6">
    <mrow>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mo>−</mo>
        <mi>n</mi>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mo>=</mo>
    </mrow>
    <mrow>
      <mo form="prefix" stretchy="false">−</mo>
    </mrow>
    <mrow>
      <mfrac>
        <msub>
          <mi>B</mi>
          <mrow>
            <mi>n</mi>
            <mo>+</mo>
            <mn>1</mn>
          </mrow>
        </msub>
        <mrow>
          <mi>n</mi>
          <mo>+</mo>
          <mn>1</mn>
        </mrow>
      </mfrac>
    </mrow>
  </math>
  <math id="me7">
    <mrow>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mo>−</mo>
        <mn>2</mn>
        <mi>n</mi>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mo>=</mo>
    </mrow>
    <mrow>
      <mn>0</mn>
    </mrow>
  </math>
  <math id="me8">
    <mrow>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mi>k</mi>
        <mo>+</mo>
        <mn>1</mn>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mo>=</mo>
    </mrow>
    <mrow>
      <mfrac>
        <mn>1</mn>
        <mrow>
          <mi>k</mi>
          <mo form="postfix" stretchy="false" lspace="0em" rspace="0em">!</mo>
        </mrow>
      </mfrac>
      <msubsup>
        <mo stretchy="true">∑</mo>
        <mrow>
          <msub>
            <mi>n</mi>
            <mn>1</mn>
          </msub>
          <mo>=</mo>
          <mn>1</mn>
        </mrow>
        <mi>∞</mi>
      </msubsup>
      <mo>⋯</mo>
    </mrow>
    <mrow>
      <msubsup>
        <mo stretchy="true">∑</mo>
        <mrow>
          <msub>
            <mi>n</mi>
            <mi>k</mi>
          </msub>
          <mo>=</mo>
          <mn>1</mn>
        </mrow>
        <mi>∞</mi>
      </msubsup>
      <mfrac>
        <mn>1</mn>
        <mrow>
          <msub>
            <mi>n</mi>
            <mn>1</mn>
          </msub>
          <mo>⋯</mo>
          <msub>
            <mi>n</mi>
            <mi>k</mi>
          </msub>
          <mo form="prefix" stretchy="false">(</mo>
          <msub>
            <mi>n</mi>
            <mn>1</mn>
          </msub>
          <mo>+</mo>
          <mo>⋯</mo>
          <mo>+</mo>
          <msub>
            <mi>n</mi>
            <mi>k</mi>
          </msub>
          <mo form="postfix" stretchy="false" lspace="0em" rspace="0em">)</mo>
        </mrow>
      </mfrac>
    </mrow>
  </math>
  <math id="me9">
    <mrow>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>2</mn>
        <mi>k</mi>
        <mo>+</mo>
        <mn>1</mn>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mo>=</mo>
    </mrow>
    <mrow>
      <mfrac>
        <mrow>
          <mo form="prefix" stretchy="false" lspace="0em" rspace="0em">(</mo>
          <mo form="prefix" stretchy="false">−</mo>
          <mn>1</mn>
          <msup>
            <mo form="postfix" stretchy="false">)</mo>
            <mrow>
              <mi>k</mi>
              <mo>+</mo>
              <mn>1</mn>
            </mrow>
          </msup>
          <mo form="prefix" stretchy="false">(</mo>
          <mn>2</mn>
          <mi>π</mi>
          <msup>
            <mo form="postfix" stretchy="false">)</mo>
            <mrow>
              <mn>2</mn>
              <mi>k</mi>
              <mo>+</mo>
              <mn>1</mn>
            </mrow>
          </msup>
        </mrow>
        <mrow>
          <mn>2</mn>
          <mo form="prefix" stretchy="false">(</mo>
          <mn>2</mn>
          <mi>k</mi>
          <mo>+</mo>
          <mn>1</mn>
          <mo form="postfix" stretchy="false">)</mo>
          <mo form="postfix" stretchy="false" lspace="0em" rspace="0em">!</mo>
        </mrow>
      </mfrac>
      <msubsup>
        <mo movablelimits="false">∫</mo>
        <mn>0</mn>
        <mn>1</mn>
      </msubsup>
      <msub>
        <mi>B</mi>
        <mrow>
          <mn>2</mn>
          <mi>k</mi>
          <mo>+</mo>
          <mn>1</mn>
        </mrow>
      </msub>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mi>t</mi>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mrow>
        <mspace width="0.1667em"></mspace>
        <mi>cot</mi>
        <mo>⁡</mo>
      </mrow>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mi>π</mi>
        <mi>t</mi>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mspace width="0.1667em"></mspace>
      <mrow>
        <mi mathvariant="normal">d</mi>
      </mrow>
      <mi>t</mi>
    </mrow>
  </math>
  <math id="me10">
    <mrow>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>2</mn>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mo>=</mo>
    </mrow>
    <mrow>
      <msubsup>
        <mo movablelimits="false">∫</mo>
        <mn>0</mn>
        <mn>1</mn>
      </msubsup>
      <msubsup>
        <mo movablelimits="false">∫</mo>
        <mn>0</mn>
        <mn>1</mn>
      </msubsup>
      <mfrac>
        <mn>1</mn>
        <mrow>
          <mn>1</mn>
          <mo>−</mo>
          <mi>x</mi>
          <mi>y</mi>
        </mrow>
      </mfrac>
      <mspace width="0.1667em"></mspace>
      <mrow>
        <mi mathvariant="normal">d</mi>
      </mrow>
      <mi>x</mi>
      <mspace width="0.1667em"></mspace>
      <mrow>
        <mi mathvariant="normal">d</mi>
      </mrow>
      <mi>y</mi>
    </mrow>
  </math>
  <math id="me11">
    <mrow>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>2</mn>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mo>=</mo>
    </mrow>
    <mrow>
      <mn>3</mn>
      <msubsup>
        <mo stretchy="true">∑</mo>
        <mrow>
          <mi>k</mi>
          <mo>=</mo>
          <mn>1</mn>
        </mrow>
        <mi>∞</mi>
      </msubsup>
      <mfrac>
        <mn>1</mn>
        <mrow>
          <msup>
            <mi>k</mi>
            <mn>2</mn>
          </msup>
          <mrow>
            <mo fence="true">(</mo>
            <mfrac linethickness="0px">
              <mrow>
                <mn>2</mn>
                <mi>k</mi>
              </mrow>
              <mi>k</mi>
            </mfrac>
            <mo fence="true">)</mo>
          </mrow>
        </mrow>
      </mfrac>
    </mrow>
  </math>
  <math id="me12">
    <mrow>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>3</mn>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mo>=</mo>
    </mrow>
    <mrow>
      <mfrac>
        <mn>5</mn>
        <mn>2</mn>
      </mfrac>
      <msubsup>
        <mo stretchy="true">∑</mo>
        <mrow>
          <mi>k</mi>
          <mo>=</mo>
          <mn>1</mn>
        </mrow>
        <mi>∞</mi>
      </msubsup>
      <mfrac>
        <mrow>
          <mo form="prefix" stretchy="false" lspace="0em" rspace="0em">(</mo>
          <mo form="prefix" stretchy="false">−</mo>
          <mn>1</mn>
          <msup>
            <mo form="postfix" stretchy="false">)</mo>
            <mrow>
              <mi>k</mi>
              <mo>−</mo>
              <mn>1</mn>
            </mrow>
          </msup>
        </mrow>
        <mrow>
          <msup>
            <mi>k</mi>
            <mn>3</mn>
          </msup>
          <mrow>
            <mo fence="true">(</mo>
            <mfrac linethickness="0px">
              <mrow>
                <mn>2</mn>
                <mi>k</mi>
              </mrow>
              <mi>k</mi>
            </mfrac>
            <mo fence="true">)</mo>
          </mrow>
        </mrow>
      </mfrac>
    </mrow>
  </math>
  <math id="me13">
    <mrow>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>4</mn>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mo>=</mo>
    </mrow>
    <mrow>
      <mfrac>
        <mn>36</mn>
        <mn>17</mn>
      </mfrac>
      <msubsup>
        <mo stretchy="true">∑</mo>
        <mrow>
          <mi>k</mi>
          <mo>=</mo>
          <mn>1</mn>
        </mrow>
        <mi>∞</mi>
      </msubsup>
      <mfrac>
        <mn>1</mn>
        <mrow>
          <msup>
            <mi>k</mi>
            <mn>4</mn>
          </msup>
          <mrow>
            <mo fence="true">(</mo>
            <mfrac linethickness="0px">
              <mrow>
                <mn>2</mn>
                <mi>k</mi>
              </mrow>
              <mi>k</mi>
            </mfrac>
            <mo fence="true">)</mo>
          </mrow>
        </mrow>
      </mfrac>
    </mrow>
  </math>
  <math id="me14">
    <mrow>
      <msup>
        <mi>ζ</mi>
        <mo lspace="0em" rspace="0em" class="tml-prime">′</mo>
      </msup>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>0</mn>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mo>=</mo>
    </mrow>
    <mrow>
      <mo form="prefix" stretchy="false">−</mo>
    </mrow>
    <mrow>
      <mstyle displaystyle="false" scriptlevel="0">
        <mfrac>
          <mn>1</mn>
          <mn>2</mn>
        </mfrac>
      </mstyle>
      <mrow>
        <mi>ln</mi>
        <mo>⁡</mo>
      </mrow>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>2</mn>
        <mi>π</mi>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
    </mrow>
  </math>
  <math id="me15">
    <mrow>
      <msup>
        <mi>ζ</mi>
        <mrow>
          <mo lspace="0em" rspace="0em" class="tml-prime">′</mo>
          <mo lspace="0em" rspace="0em" class="tml-prime">′</mo>
        </mrow>
      </msup>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>0</mn>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mo>=</mo>
    </mrow>
    <mrow>
      <mo form="prefix" stretchy="false">−</mo>
    </mrow>
    <mrow>
      <mstyle displaystyle="false" scriptlevel="0">
        <mfrac>
          <mn>1</mn>
          <mn>2</mn>
        </mfrac>
      </mstyle>
      <mo form="prefix" stretchy="false">(</mo>
      <mrow>
        <mi>ln</mi>
        <mo>⁡</mo>
      </mrow>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>2</mn>
        <mi>π</mi>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <msup>
        <mo form="postfix" stretchy="false">)</mo>
        <mn>2</mn>
      </msup>
      <mo>+</mo>
      <mstyle displaystyle="false" scriptlevel="0">
        <mfrac>
          <mn>1</mn>
          <mn>2</mn>
        </mfrac>
      </mstyle>
      <msup>
        <mi>γ</mi>
        <mn>2</mn>
      </msup>
      <mo>−</mo>
      <mstyle displaystyle="false" scriptlevel="0">
        <mfrac>
          <mn>1</mn>
          <mn>24</mn>
        </mfrac>
      </mstyle>
      <msup>
        <mi>π</mi>
        <mn>2</mn>
      </msup>
      <mo>+</mo>
      <msub>
        <mi>γ</mi>
        <mn>1</mn>
      </msub>
    </mrow>
  </math>
  <math id="me16">
    <mrow>
      <mo form="prefix" stretchy="false">(</mo>
      <mo form="prefix" stretchy="false">−</mo>
      <mn>1</mn>
      <msup>
        <mo form="postfix" stretchy="false">)</mo>
        <mi>k</mi>
      </msup>
      <msup>
        <mi>ζ</mi>
        <mrow>
          <mo form="prefix" stretchy="false" lspace="0em" rspace="0em">(</mo>
          <mi>k</mi>
          <mo form="postfix" stretchy="false" lspace="0em" rspace="0em">)</mo>
        </mrow>
      </msup>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mo>−</mo>
        <mn>2</mn>
        <mi>n</mi>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mo>=</mo>
      <mfrac>
        <mrow>
          <mn>2</mn>
          <mo form="prefix" stretchy="false">(</mo>
          <mo form="prefix" stretchy="false">−</mo>
          <mn>1</mn>
          <msup>
            <mo form="postfix" stretchy="false">)</mo>
            <mi>n</mi>
          </msup>
        </mrow>
        <mrow>
          <mo form="prefix" stretchy="false" lspace="0em" rspace="0em">(</mo>
          <mn>2</mn>
          <mi>π</mi>
          <msup>
            <mo form="postfix" stretchy="false">)</mo>
            <mrow>
              <mn>2</mn>
              <mi>n</mi>
              <mo>+</mo>
              <mn>1</mn>
            </mrow>
          </msup>
        </mrow>
      </mfrac>
      <msubsup>
        <mo stretchy="true">∑</mo>
        <mrow>
          <mi>m</mi>
          <mo>=</mo>
          <mn>0</mn>
        </mrow>
        <mi>k</mi>
      </msubsup>
      <msubsup>
        <mo stretchy="true">∑</mo>
        <mrow>
          <mi>r</mi>
          <mo>=</mo>
          <mn>0</mn>
        </mrow>
        <mi>m</mi>
      </msubsup>
      <mrow>
        <mo fence="true">(</mo>
        <mfrac linethickness="0px">
          <mi>k</mi>
          <mi>m</mi>
        </mfrac>
        <mo fence="true">)</mo>
      </mrow>
      <mrow>
        <mo fence="true">(</mo>
        <mfrac linethickness="0px">
          <mi>m</mi>
          <mi>r</mi>
        </mfrac>
        <mo fence="true">)</mo>
      </mrow>
      <mi>ℑ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <msup>
          <mi>c</mi>
          <mrow>
            <mi>k</mi>
            <mo>−</mo>
            <mi>m</mi>
          </mrow>
        </msup>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mtext style="color: #b22222">\*</mtext>
      <msup>
        <mrow>
          <mi mathvariant="normal">Γ</mi>
        </mrow>
        <mrow>
          <mo form="prefix" stretchy="false" lspace="0em" rspace="0em">(</mo>
          <mi>r</mi>
          <mo form="postfix" stretchy="false" lspace="0em" rspace="0em">)</mo>
        </mrow>
      </msup>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>2</mn>
        <mi>n</mi>
        <mo>+</mo>
        <mn>1</mn>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <msup>
        <mi>ζ</mi>
        <mrow>
          <mo form="prefix" stretchy="false" lspace="0em" rspace="0em">(</mo>
          <mi>m</mi>
          <mo>−</mo>
          <mi>r</mi>
          <mo form="postfix" stretchy="false" lspace="0em" rspace="0em">)</mo>
        </mrow>
      </msup>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>2</mn>
        <mi>n</mi>
        <mo>+</mo>
        <mn>1</mn>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
    </mrow>
  </math>
  <math id="me17">
    <mrow>
      <mo form="prefix" stretchy="false">(</mo>
      <mo form="prefix" stretchy="false">−</mo>
      <mn>1</mn>
      <msup>
        <mo form="postfix" stretchy="false">)</mo>
        <mi>k</mi>
      </msup>
      <msup>
        <mi>ζ</mi>
        <mrow>
          <mo form="prefix" stretchy="false" lspace="0em" rspace="0em">(</mo>
          <mi>k</mi>
          <mo form="postfix" stretchy="false" lspace="0em" rspace="0em">)</mo>
        </mrow>
      </msup>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>1</mn>
        <mo>−</mo>
        <mn>2</mn>
        <mi>n</mi>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mo>=</mo>
      <mfrac>
        <mrow>
          <mn>2</mn>
          <mo form="prefix" stretchy="false">(</mo>
          <mo form="prefix" stretchy="false">−</mo>
          <mn>1</mn>
          <msup>
            <mo form="postfix" stretchy="false">)</mo>
            <mi>n</mi>
          </msup>
        </mrow>
        <mrow>
          <mo form="prefix" stretchy="false" lspace="0em" rspace="0em">(</mo>
          <mn>2</mn>
          <mi>π</mi>
          <msup>
            <mo form="postfix" stretchy="false">)</mo>
            <mrow>
              <mn>2</mn>
              <mi>n</mi>
            </mrow>
          </msup>
        </mrow>
      </mfrac>
      <msubsup>
        <mo stretchy="true">∑</mo>
        <mrow>
          <mi>m</mi>
          <mo>=</mo>
          <mn>0</mn>
        </mrow>
        <mi>k</mi>
      </msubsup>
      <msubsup>
        <mo stretchy="true">∑</mo>
        <mrow>
          <mi>r</mi>
          <mo>=</mo>
          <mn>0</mn>
        </mrow>
        <mi>m</mi>
      </msubsup>
      <mrow>
        <mo fence="true">(</mo>
        <mfrac linethickness="0px">
          <mi>k</mi>
          <mi>m</mi>
        </mfrac>
        <mo fence="true">)</mo>
      </mrow>
      <mrow>
        <mo fence="true">(</mo>
        <mfrac linethickness="0px">
          <mi>m</mi>
          <mi>r</mi>
        </mfrac>
        <mo fence="true">)</mo>
      </mrow>
      <mi>ℜ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <msup>
          <mi>c</mi>
          <mrow>
            <mi>k</mi>
            <mo>−</mo>
            <mi>m</mi>
          </mrow>
        </msup>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mtext style="color: #b22222">\*</mtext>
      <msup>
        <mrow>
          <mi mathvariant="normal">Γ</mi>
        </mrow>
        <mrow>
          <mo form="prefix" stretchy="false" lspace="0em" rspace="0em">(</mo>
          <mi>r</mi>
          <mo form="postfix" stretchy="false" lspace="0em" rspace="0em">)</mo>
        </mrow>
      </msup>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>2</mn>
        <mi>n</mi>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <msup>
        <mi>ζ</mi>
        <mrow>
          <mo form="prefix" stretchy="false" lspace="0em" rspace="0em">(</mo>
          <mi>m</mi>
          <mo>−</mo>
          <mi>r</mi>
          <mo form="postfix" stretchy="false" lspace="0em" rspace="0em">)</mo>
        </mrow>
      </msup>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>2</mn>
        <mi>n</mi>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
    </mrow>
  </math>
  <math id="me18">
    <mrow>
      <msup>
        <mi>ζ</mi>
        <mo lspace="0em" rspace="0em" class="tml-prime">′</mo>
      </msup>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>2</mn>
        <mi>n</mi>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mo>=</mo>
    </mrow>
    <mrow>
      <mfrac>
        <mrow>
          <mo form="prefix" stretchy="false" lspace="0em" rspace="0em">(</mo>
          <mo form="prefix" stretchy="false">−</mo>
          <mn>1</mn>
          <msup>
            <mo form="postfix" stretchy="false">)</mo>
            <mrow>
              <mi>n</mi>
              <mo>+</mo>
              <mn>1</mn>
            </mrow>
          </msup>
          <mo form="prefix" stretchy="false">(</mo>
          <mn>2</mn>
          <mi>π</mi>
          <msup>
            <mo form="postfix" stretchy="false">)</mo>
            <mrow>
              <mn>2</mn>
              <mi>n</mi>
            </mrow>
          </msup>
        </mrow>
        <mrow>
          <mn>2</mn>
          <mo form="prefix" stretchy="false">(</mo>
          <mn>2</mn>
          <mi>n</mi>
          <mo form="postfix" stretchy="false">)</mo>
          <mo form="postfix" stretchy="false" lspace="0em" rspace="0em">!</mo>
        </mrow>
      </mfrac>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>2</mn>
        <mi>n</mi>
        <msup>
          <mi>ζ</mi>
          <mo lspace="0em" rspace="0em" class="tml-prime">′</mo>
        </msup>
        <mrow>
          <mo fence="true" form="prefix">(</mo>
          <mn>1</mn>
          <mo>−</mo>
          <mn>2</mn>
          <mi>n</mi>
          <mo fence="true" form="postfix">)</mo>
        </mrow>
        <mo>−</mo>
        <mo form="prefix" stretchy="false">(</mo>
        <mi>ψ</mi>
        <mrow>
          <mo fence="true" form="prefix">(</mo>
          <mn>2</mn>
          <mi>n</mi>
          <mo fence="true" form="postfix">)</mo>
        </mrow>
        <mo>−</mo>
        <mrow>
          <mi>ln</mi>
          <mo>⁡</mo>
        </mrow>
        <mrow>
          <mo fence="true" form="prefix">(</mo>
          <mn>2</mn>
          <mi>π</mi>
          <mo fence="true" form="postfix">)</mo>
        </mrow>
        <mo form="postfix" stretchy="false">)</mo>
        <msub>
          <mi>B</mi>
          <mrow>
            <mn>2</mn>
            <mi>n</mi>
          </mrow>
        </msub>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
    </mrow>
  </math>
  <math id="me19">
    <mrow>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mi>n</mi>
        <mo>+</mo>
        <mstyle displaystyle="false" scriptlevel="0">
          <mfrac>
            <mn>1</mn>
            <mn>2</mn>
          </mfrac>
        </mstyle>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>2</mn>
        <mi>n</mi>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mo>=</mo>
    </mrow>
    <mrow>
      <msubsup>
        <mo stretchy="true">∑</mo>
        <mrow>
          <mi>k</mi>
          <mo>=</mo>
          <mn>1</mn>
        </mrow>
        <mrow>
          <mi>n</mi>
          <mo>−</mo>
          <mn>1</mn>
        </mrow>
      </msubsup>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>2</mn>
        <mi>k</mi>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>2</mn>
        <mi>n</mi>
        <mo>−</mo>
        <mn>2</mn>
        <mi>k</mi>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
    </mrow>
  </math>
  <math id="me20">
    <mrow>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mi>n</mi>
        <mo>+</mo>
        <mstyle displaystyle="false" scriptlevel="0">
          <mfrac>
            <mn>3</mn>
            <mn>4</mn>
          </mfrac>
        </mstyle>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>4</mn>
        <mi>n</mi>
        <mo>+</mo>
        <mn>2</mn>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mo>=</mo>
    </mrow>
    <mrow>
      <msubsup>
        <mo stretchy="true">∑</mo>
        <mrow>
          <mi>k</mi>
          <mo>=</mo>
          <mn>1</mn>
        </mrow>
        <mi>n</mi>
      </msubsup>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>2</mn>
        <mi>k</mi>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>4</mn>
        <mi>n</mi>
        <mo>+</mo>
        <mn>2</mn>
        <mo>−</mo>
        <mn>2</mn>
        <mi>k</mi>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
    </mrow>
  </math>
  <math id="me21">
    <mrow>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mi>n</mi>
        <mo>+</mo>
        <mstyle displaystyle="false" scriptlevel="0">
          <mfrac>
            <mn>1</mn>
            <mn>4</mn>
          </mfrac>
        </mstyle>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>4</mn>
        <mi>n</mi>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mo>+</mo>
      <mstyle displaystyle="false" scriptlevel="0">
        <mfrac>
          <mn>1</mn>
          <mn>2</mn>
        </mfrac>
      </mstyle>
      <mo form="prefix" stretchy="false">(</mo>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>2</mn>
        <mi>n</mi>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <msup>
        <mo form="postfix" stretchy="false">)</mo>
        <mn>2</mn>
      </msup>
      <mo>=</mo>
      <msubsup>
        <mo stretchy="true">∑</mo>
        <mrow>
          <mi>k</mi>
          <mo>=</mo>
          <mn>1</mn>
        </mrow>
        <mi>n</mi>
      </msubsup>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>2</mn>
        <mi>k</mi>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>4</mn>
        <mi>n</mi>
        <mo>−</mo>
        <mn>2</mn>
        <mi>k</mi>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
    </mrow>
  </math>
  <math id="me22">
    <mrow>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mi>m</mi>
        <mo>+</mo>
        <mi>n</mi>
        <mo>+</mo>
        <mstyle displaystyle="false" scriptlevel="0">
          <mfrac>
            <mn>3</mn>
            <mn>2</mn>
          </mfrac>
        </mstyle>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>2</mn>
        <mi>m</mi>
        <mo>+</mo>
        <mn>2</mn>
        <mi>n</mi>
        <mo>+</mo>
        <mn>2</mn>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mo>=</mo>
    </mrow>
    <mrow>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <msubsup>
          <mo stretchy="true">∑</mo>
          <mrow>
            <mi>k</mi>
            <mo>=</mo>
            <mn>1</mn>
          </mrow>
          <mi>m</mi>
        </msubsup>
        <mo>+</mo>
        <msubsup>
          <mo stretchy="true">∑</mo>
          <mrow>
            <mi>k</mi>
            <mo>=</mo>
            <mn>1</mn>
          </mrow>
          <mi>n</mi>
        </msubsup>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>2</mn>
        <mi>k</mi>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>2</mn>
        <mi>m</mi>
        <mo>+</mo>
        <mn>2</mn>
        <mi>n</mi>
        <mo>+</mo>
        <mn>2</mn>
        <mo>−</mo>
        <mn>2</mn>
        <mi>k</mi>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
    </mrow>
  </math>
  <math id="me23">
    <mrow>
      <mstyle displaystyle="false" scriptlevel="0">
        <mfrac>
          <mn>1</mn>
          <mn>2</mn>
        </mfrac>
      </mstyle>
      <mo form="prefix" stretchy="false">(</mo>
      <msup>
        <mn>2</mn>
        <mrow>
          <mn>2</mn>
          <mi>n</mi>
        </mrow>
      </msup>
      <mo>−</mo>
      <mn>1</mn>
      <mo form="postfix" stretchy="false">)</mo>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>2</mn>
        <mi>n</mi>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mo>=</mo>
    </mrow>
    <mrow>
      <msubsup>
        <mo stretchy="true">∑</mo>
        <mrow>
          <mi>k</mi>
          <mo>=</mo>
          <mn>1</mn>
        </mrow>
        <mrow>
          <mi>n</mi>
          <mo>−</mo>
          <mn>1</mn>
        </mrow>
      </msubsup>
      <mo form="prefix" stretchy="false">(</mo>
      <msup>
        <mn>2</mn>
        <mrow>
          <mn>2</mn>
          <mi>n</mi>
          <mo>−</mo>
          <mn>2</mn>
          <mi>k</mi>
        </mrow>
      </msup>
      <mo>−</mo>
      <mn>1</mn>
      <mo form="postfix" stretchy="false">)</mo>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>2</mn>
        <mi>n</mi>
        <mo>−</mo>
        <mn>2</mn>
        <mi>k</mi>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>2</mn>
        <mi>k</mi>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
    </mrow>
  </math>
</div>
