<h1>Math Render Perf</h1>
<div class="header-container">
  <div class="category">
    <h2>MathJax Plain JS</h2>
    <ul>
      <li><a routerLink="/mathJaxJs/small">Small</a></li>
      <li><a routerLink="/mathJaxJs/medium">Medium</a></li>
      <li><a routerLink="/mathJaxJs/large">Large</a></li>
    </ul>
  </div>
  <hr class="vertical-divider" />
  <div class="category">
    <h2>MathJax Pre Render CSS</h2>
    <ul>
      <li><a routerLink="/mathJaxCss/small">Small</a></li>
      <li><a routerLink="/mathJaxCss/medium">Medium</a></li>
      <li><a routerLink="/mathJaxCss/large">Large</a></li>
    </ul>
  </div>
  <hr class="vertical-divider" />
  <div class="category">
    <h2>MathJax Pre Render SVG</h2>
    <ul>
      <li><a routerLink="/mathJaxSvg/small">Small</a></li>
      <li><a routerLink="/mathJaxSvg/medium">Medium</a></li>
      <li><a routerLink="/mathJaxSvg/large">Large</a></li>
    </ul>
  </div>
  <hr class="vertical-divider" />
  <div class="category">
    <h2>MathML</h2>
    <ul>
      <li><a routerLink="/mathML/small">Small</a></li>
      <li><a routerLink="/mathML/medium">Medium</a></li>
      <li><a routerLink="/mathML/large">Large</a></li>
    </ul>
  </div>
</div>

<hr class="horizontal-divider" />
<router-outlet></router-outlet>
