<div class="ml-container">
  <h2>MathML (small)</h2>
  <p>Note that the sanitzier prevents this page to render if not directly loaded. In case, please reload.</p>
  <math id="me2">
    <mrow>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>2</mn>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mo>=</mo>
    </mrow>
    <mrow>
      <mfrac>
        <msup>
          <mi>π</mi>
          <mn>2</mn>
        </msup>
        <mn>6</mn>
      </mfrac>
    </mrow>
  </math>
  <math id="me3">
    <mrow>
      <mi>ζ</mi>
      <mrow>
        <mo fence="true" form="prefix">(</mo>
        <mn>4</mn>
        <mo fence="true" form="postfix">)</mo>
      </mrow>
      <mo>=</mo>
    </mrow>
    <mrow>
      <mfrac>
        <msup>
          <mi>π</mi>
          <mn>4</mn>
        </msup>
        <mn>90</mn>
      </mfrac>
    </mrow>
  </math>
</div>
